.App {
    background-color: #282c34;
}

.App-main {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.Blog-header {
    color: #385a9c;
}

.Blog-posts {
    margin-top: 60px;
}

.Blog-post {
    margin: 50px;
    padding: 10px;
    
    border: 1px;
    border-style: dotted;
}

.Blog-post-title {
    color: #385a9c;
}

.Login {
    float: top;
    margin: 20px;
    margin-top: 0px;
    padding-top: 10px;
    background-color: #282c34;
    color: rgba(255, 255, 255, 0.616);
}